<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.sm.dao.room.RoomTypeDao">
    <select id="selectRoomType" resultType="map">
        select * from tb_roomtype
    </select>
    <select id="selectRoom" resultType="map">
        select room_code,room_typename,room_state from tb_room a,tb_roomtype b where a.room_typeid=b.room_typeid and order by room_code
    </select>
</mapper>