<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.sm.dao.user.UserDao">
    <select id="getUserList" resultType="map">
        select * from tb_user
    </select>
    <insert id="userAdd">
        insert into tb_user (USER_ID,USER_NAME,USER_GENDER,USER_AGE,USER_EMAIL) values(tb_user_id.nextval ,#{user_name},#{user_gender},#{user_age},#{user_email})
    </insert>
</mapper>